flows.json
[
  {
    "id": "3ae76bbd06d56b93",
    "type": "debug",
    "z": "620b6f3d24932a93",
    "name": "Weight in gram",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 160,
    "wires": []
  },
  {
    "id": "62fa57144dfe29b9",
    "type": "ui_gauge",
    "z": "620b6f3d24932a93",
    "name": "Weight in gram",
    "group": "99c7d74984803549",
    "order": 9,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Weight-sensor",
    "label": "Gram",
    "format": "{{value}}",
    "min": 0,
    "max": "2000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 1220,
    "y": 220,
    "wires": []
  },
  {
    "id": "8479a90e138fcef6",
    "type": "debug",
    "z": "620b6f3d24932a93",
    "name": "Full output",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 300,
    "wires": []
  },
  {
    "id": "9ce018772eda6497",
    "type": "ui_text",
    "z": "620b6f3d24932a93",
    "group": "99c7d74984803549",
    "order": 8,
    "width": "0",
    "height": "0",
    "name": "",
    "label": "Mail status",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "x": 1210,
    "y": 340,
    "wires": []
  },
  {
    "id": "07b88eef0bbc1ee3",
    "type": "ui_button",
    "z": "620b6f3d24932a93",
    "name": "",
    "group": "99c7d74984803549",
    "order": 2,
    "width": "5",
    "height": "1",
    "passthru": false,
    "label": "Open",
    "tooltip": "",
    "color": "",
    "bgcolor": "green",
    "className": "",
    "icon": "",
    "payload": "Open",
    "payloadType": "str",
    "topic": "mailbox",
    "topicType": "msg",
    "x": 310,
    "y": 180,
    "wires": [["3be3003da97fc97d", "54b84bf51a66dfaf"]]
  },
  {
    "id": "0681a39369c0bd19",
    "type": "ui_text",
    "z": "620b6f3d24932a93",
    "group": "99c7d74984803549",
    "order": 1,
    "width": "0",
    "height": "0",
    "name": "",
    "label": "Simulate open and close",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 490,
    "y": 320,
    "wires": []
  },
  {
    "id": "0fc7c66d806cbf7e",
    "type": "ui_button",
    "z": "620b6f3d24932a93",
    "name": "",
    "group": "99c7d74984803549",
    "order": 3,
    "width": "5",
    "height": "1",
    "passthru": false,
    "label": "Close",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "Close",
    "payloadType": "str",
    "topic": "mailbox",
    "topicType": "msg",
    "x": 310,
    "y": 220,
    "wires": [["3be3003da97fc97d", "e9231e8ab5433db3"]]
  },
  {
    "id": "46897be57dd458cb",
    "type": "ui_button",
    "z": "620b6f3d24932a93",
    "name": "",
    "group": "99c7d74984803549",
    "order": 6,
    "width": "5",
    "height": "1",
    "passthru": false,
    "label": "Remove mail",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "decrement",
    "payloadType": "str",
    "topic": "mail",
    "topicType": "msg",
    "x": 710,
    "y": 260,
    "wires": [["353493647fe71635"]]
  },
  {
    "id": "950072901b9f12f5",
    "type": "ui_text",
    "z": "620b6f3d24932a93",
    "group": "99c7d74984803549",
    "order": 4,
    "width": "0",
    "height": "0",
    "name": "",
    "label": "Simulate add & remove mail",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 500,
    "y": 360,
    "wires": []
  },
  {
    "id": "3be3003da97fc97d",
    "type": "ui_text",
    "z": "620b6f3d24932a93",
    "group": "99c7d74984803549",
    "order": 8,
    "width": "0",
    "height": "0",
    "name": "",
    "label": "Mailbox status",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "x": 520,
    "y": 180,
    "wires": []
  },
  {
    "id": "d1a7ac1c02374627",
    "type": "ui_button",
    "z": "620b6f3d24932a93",
    "name": "",
    "group": "99c7d74984803549",
    "order": 5,
    "width": "5",
    "height": "1",
    "passthru": false,
    "label": "Add mail",
    "tooltip": "",
    "color": "",
    "bgcolor": "green",
    "className": "disabled",
    "icon": "",
    "payload": "increment",
    "payloadType": "str",
    "topic": "mail",
    "topicType": "msg",
    "x": 700,
    "y": 220,
    "wires": [["353493647fe71635"]]
  },
  {
    "id": "54b84bf51a66dfaf",
    "type": "change",
    "z": "620b6f3d24932a93",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 220,
    "wires": [["d1a7ac1c02374627", "46897be57dd458cb"]]
  },
  {
    "id": "e9231e8ab5433db3",
    "type": "change",
    "z": "620b6f3d24932a93",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 260,
    "wires": [["d1a7ac1c02374627", "46897be57dd458cb"]],
    "inputLabels": ["Open"],
    "outputLabels": ["Close"]
  },
  {
    "id": "353493647fe71635",
    "type": "function",
    "z": "620b6f3d24932a93",
    "name": "Add and remove mail",
    "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\n\nvar minWeigth = 13;\nvar maxWeigth = 200;\nvar fullMailBox = 2000; // Number given in grams\n\nvar randomNumber = Math.floor(Math.random() * (maxWeigth - minWeigth + 1) + minWeigth);\n\nif(msg.payload == \"increment\"){\n    if(count >= fullMailBox-randomNumber){\n        msg3.payload = \"Mailbox is full\";\n    } else {\n        count += randomNumber;\n    }\n    msg2.payload = \"Mail received\";\n} \n\nif(msg.payload == \"decrement\") {\n    count = 0;\n    msg2.payload = \"No mail\"\n}\n\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg1.payload = count;\n\nreturn [msg1, msg2, msg3];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 940,
    "y": 220,
    "wires": [
      ["3ae76bbd06d56b93", "62fa57144dfe29b9"],
      ["9ce018772eda6497", "8479a90e138fcef6", "fe821f2caade68be"],
      ["5c2c68b264d6225d"]
    ]
  },
  {
    "id": "a9c76285ef9ce29a",
    "type": "ui_toast",
    "z": "620b6f3d24932a93",
    "position": "top right",
    "displayTime": "2",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "",
    "x": 1610,
    "y": 340,
    "wires": []
  },
  {
    "id": "eec63670ca0b42a3",
    "type": "function",
    "z": "620b6f3d24932a93",
    "name": "Mail received notification",
    "func": "if(msg.payload === \"delay\"){\n    return null;\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1250,
    "y": 380,
    "wires": [["55381e02114f571c", "a9c76285ef9ce29a", "359cd33bc0d47fa0"]]
  },
  {
    "id": "30146d0ae35dfeb6",
    "type": "ui_toast",
    "z": "620b6f3d24932a93",
    "position": "dialog",
    "displayTime": "2",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "Show mailbox full",
    "x": 1610,
    "y": 420,
    "wires": [[]]
  },
  {
    "id": "55381e02114f571c",
    "type": "mqtt out",
    "z": "620b6f3d24932a93",
    "name": "",
    "topic": "SmartMailBoxNTNU/wot",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cf1b4490d1f20ded",
    "x": 1630,
    "y": 460,
    "wires": []
  },
  {
    "id": "359cd33bc0d47fa0",
    "type": "debug",
    "z": "620b6f3d24932a93",
    "name": "Show output",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1590,
    "y": 380,
    "wires": []
  },
  {
    "id": "68d624657d7c0345",
    "type": "function",
    "z": "620b6f3d24932a93",
    "name": "Mail full notification",
    "func": "if(msg.payload === \"delay\"){\n   return null;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 420,
    "wires": [["30146d0ae35dfeb6", "55381e02114f571c", "359cd33bc0d47fa0"]]
  },
  {
    "id": "fe821f2caade68be",
    "type": "function",
    "z": "620b6f3d24932a93",
    "name": "Filter for notification",
    "func": "if(msg.payload !== \"Mail received\"){\n    return null;\n}\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 360,
    "wires": [["5cfd55e4f28f372c"]]
  },
  {
    "id": "5c2c68b264d6225d",
    "type": "function",
    "z": "620b6f3d24932a93",
    "name": "Filter for notification",
    "func": "if(msg.payload !== \"Mailbox is full\"){\n    return null;\n} \nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 420,
    "wires": [["7c5f7ffa0b372d0c"]]
  },
  {
    "id": "5cfd55e4f28f372c",
    "type": "trigger",
    "z": "620b6f3d24932a93",
    "name": "",
    "op1": "delay",
    "op2": "Mail received",
    "op1type": "str",
    "op2type": "str",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1000,
    "y": 360,
    "wires": [["eec63670ca0b42a3"]]
  },
  {
    "id": "7c5f7ffa0b372d0c",
    "type": "trigger",
    "z": "620b6f3d24932a93",
    "name": "",
    "op1": "delay",
    "op2": "Mailbox is full",
    "op1type": "str",
    "op2type": "str",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1000,
    "y": 420,
    "wires": [["68d624657d7c0345"]]
  },
  {
    "id": "1e5061a8ddf9d268",
    "type": "ui_spacer",
    "z": "620b6f3d24932a93",
    "name": "spacer",
    "group": "99c7d74984803549",
    "order": 7,
    "width": 1,
    "height": 1
  },
  {
    "id": "99c7d74984803549",
    "type": "ui_group",
    "name": "Smart-mailbox",
    "tab": "2c9d1bec98c7ae64",
    "order": 1,
    "disp": true,
    "width": "10",
    "collapse": false,
    "className": ""
  },
  {
    "id": "cf1b4490d1f20ded",
    "type": "mqtt-broker",
    "name": "HiveMQT",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "2c9d1bec98c7ae64",
    "type": "ui_tab",
    "name": "SenseHAT-Dashboard",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  }
]
